.sidebar-admin {
    background: #2E2E2E;
    position: fixed;
    overflow-y: auto;
    min-height: 100vh;
    width: 225px;
    left: 0;
    top: 0;
    transition: .25s;
}

#side-menu {
    text-decoration: none;
    color: #3d3d3d;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: .25s;
}
#side-menu:hover {
    font-weight: bold;
    border-radius: 50px;
}